#PasswordFormPage .ui-content {
    padding: 15px;
    font-size: 13px;
    bottom: 50px !important;
}

#PasswordFormPage .ui-content * {
    font-size: 13px;
    font-weight: bold;
    color: #666;
    font-family: rta-regular;
}

#PasswordFormPage .allRequired {
    font-weight: bold;
    color: #999;
}

#PasswordFormPage .shell-input-cont {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 34px;
    width: auto;
    margin: 0;
}

#PasswordFormPage #userNameField{
    right:0 !important;
}

#PasswordFormPage .fieldRow {
    height: 72px;
    margin: 10px auto;
    position: relative;
}

#PasswordFormPage .icon-hide-password {
    position: absolute;
    right: 0;
    bottom: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
    top: 23px;
    margin: auto;
    line-height: 30px;
    font-size: 18px;
}

#PasswordFormPage .icon-view-password{
    position: absolute;
    right: 0;
    bottom: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
    top: 23px;
    margin: auto;
    line-height: 30px;
    font-size: 18px;
}

#PasswordFormPage .fieldLabel {
    display: inline-block;
    margin: auto 5px;
    color: #777;
}

#PasswordFormPage #updateBtn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #ee0000;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    line-height: 53px;
}

#PasswordFormPage #updateBtn.disabled {
    background: #aaa;
    opacity: 0.5;
    color: #333;
    pointer-events: none;
    font-weight: bold;
}

#PasswordFormPage #passwordHintBtn {
    font-size: 16px;
    vertical-align: middle;
}
.container-rtl #PasswordFormPage #showPassword {
    right: auto!important;
    left: 0;
}

.container-rtl #PasswordFormPage #newPasswordField {
    left: 34px !important;
    right: 0!important;
}
.container-rtl #PasswordFormPage #showRePassword {
    right: auto!important;
    left: 0;
}

.container-rtl #PasswordFormPage #rePasswordField {
    left: 34px !important;
    right: 0!important;
}
.container-rtl #PasswordFormPage .fieldRow {
    direction: rtl;
}
.container-rtl #currentPasswordField {
    left: 34px!important;
    right: 0px!important;
}

.container-rtl #showCurPassword {
    left:0 !important;
    right:auto!important;
}

#PasswordFormPage #newPasswordField .errorMessage {
    display: none !important;
}

#PasswordFormPage #rePasswordField .errorMessage {
    display: none !important;
}