
/* Stylesheet content from css/shell/mplates.css in folder common */
#myplatesPage *{
font-family:rta-regular;
}
#myplatesPage .myplatesCont {
	padding: 15px;
}

#myplatesPage .plateCont {
	background: #fff;
	border-radius: 5px;
	padding: 15px;
}

#myplatesPage .partone {
	position: relative;
	height: 40px;
}

#myplatesPage .parttwo {
	position: relative;
	height: 30px;
}

#myplatesPage .plate {
	left: 0;
	display: inline-block;
	height: 25px;
	width: 85px;
	border: 1px solid #333;
	overflow: hidden;
	vertical-align: top;
	border-radius: 3px;
	position: relative;
	text-align: center;
	line-height: 31px;
	color: #333;
	font-weight: bold;
	font-size: 11px;
}

#myplatesPage .certNum {
	display: inline-block;
	position: absolute;
	/* width: 50%; */
	/* height: 40px; */
	right: 0;
	text-align: right;
}

#myplatesPage .dateofpurchase {
	display: inline-block;
	position: absolute;
	/* width: 50%; */
	/* height: 40px; */
	left: 0;
}

#myplatesPage .expireon {
	display: inline-block;
	position: absolute;
	/* width: 50%; */
	/* height: 40px; */
	right: 0;
	text-align: right;
}

#myplatesPage .certNum span {
	display: block;
	font-size: 13px;
	color: #53565a;
}

#myplatesPage .dateofpurchase span {
	display: block;
	font-size: 13px;
	color: #53565a;
}

#myplatesPage .expireon span {
	display: block;
    font-size: 13px;
    color: #53565a;
}

#myplatesPage .mstoreplatecode {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 15px;
	font-size: 13px;
}

#myplatesPage .mstoreplatenumber {
	position: absolute;
	left: 50px;
	right: 0;
	top: 0;
	bottom: 0;
}
#myplatesPage .mstoreplatelogo {
        position: absolute;
    left: 15px;
    width: 35px;
    top: 0;
    bottom: 0;
}
#myplatesPage .mstoreplatelogo img{
    width:23px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
#myplatesPage .CertificateNumber {
    color: black !important;
    font-size: 15px !important;
}

#myplatesPage .dateofpurchasedetails {
    color: black !important;
    font-size: 15px !important;
}

#myplatesPage .expirydatedetails {
    color: #ee0000 !important;
    font-size: 15px !important;
}
.container-rtl #myplatesPage .plate {
    right: 0;
    left: auto;
}

.container-rtl #myplatesPage .certNum {
    right: auto !important;
    left: 0 !important;
    text-align: left!important;
}
.container-rtl #myplatesPage .expireon {
    right: auto !important;
    left: 0 !important;
    text-align: left!important;
}
.container-rtl #myplatesPage .dateofpurchase {
    right: 0 !important;
    left: auto !important;
    text-align: right!important;
}

