#passInfo .strength-item .strength-title {
	display: block;
	height: 25px;
	text-align: center;
	padding-top: 10px;
}

#passInfo .line {
	width: calc(50% - 60px);
	position: absolute;
	height: 10px;
	top: 25%;
}

#passInfo .line2 {
	right: 50px;
}

#passInfo .line:after {
	content: '';
	width: 100%;
	border-bottom: solid 0.5px gray;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 1px;
}

#passInfo .hiddenLine {
	display: inline-block;
	width: 28%;
	height: 0px;
}

#passInfo {
	background-color: #d1d3d7;
	border-radius: 2px;
	position: relative;
	margin-bottom: 5px;
	margin-top: 20px;
	height: auto;
}

#passInfo .icon-dot-active {
	font-size: 8px !important;
	display: block;
	height: auto;
	text-align: center;
}

#passInfo #goodStrength {
	color: #01b0b9;
	left: calc(50% - 25px);
}

#passInfo #strongStrength {
	right: 15px;
}

#passInfo .strengthTitle {
	margin-top: -19px;
	font-size: 8px;
}

#passInfo .strengthPoints {
	position: relative;
	display: block;
	width: 100%;
	height: 55px; px; */
	overflow:;
}

#passInfo .strength-item {
	display: inline-block;
	position: absolute;
	width: 50px;
	top: 15px;
}

#passInfo #averageStrength {
	left: 15px;
}

#passInfo .line1 {
	left: 50px;
}

#passInfo .line1.active:after {
	border-bottom: solid 0.5px #f3a019;
}

#passInfo .line2.active:after {
	border-bottom: solid 0.5px #01b0b9;
}
#passInfo.arabic-content .line1.active:after {
	border-bottom: solid 0.5px  #01b0b9;
}

#passInfo.arabic-content .line2.active:after {
	border-bottom: solid 0.5px #f3a019;
}

#passInfo #averageId {
	color: #f3a019 !important;
}

#passInfo #strongId {
	color: #05c400 !important;
}

#passInfo #goodId {
	color: #01b0b9 !important;
}

#passInfo #averageId.icon-dot-active.active:before {
	border: 1px solid #f3a019;
}

#passInfo #goodId.icon-dot-active.active:before {
	border: 1px solid #01b0b9;
}

#passInfo #strongId.icon-dot-active.active:before {
	border: 1px solid #05c400;
}

#passInfo .icon-dot-active:before {
	border-radius: 50%;
	padding: 5px;
	background: #d7d7d7;
	transition: opacity 0.5s linear;
}

#passInfo #strengthMsg {
	text-align: left;
	padding: 10px 15px 10px 15px;
}

#passInfo #Msg {
	color: black;
	margin-bottom: 10px;
	display: block;
}

#passInfo #hint {
	display: block;
}
#passInfo.arabic-content #averageStrength{
	right:15px;
	left:auto;
}
#passInfo.arabic-content #goodStrength{
	 right: calc(50% - 25px);
	 left:auto
}
#passInfo.arabic-content #strongStrength{
	left:15px;
	right:auto;
}
#passInfo.arabic-content #strengthMsg{
text-align:right;
direction:rtl;
}


   
